<h1>Список подій</h1>

<ul>
  {% for event in events %}
    <li>
      {{ event.event.title }} - {{ event.date }}
    </li>
  {% endfor %}
</ul>

<div>
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="?page=1">перша</a>
      <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
    {% endif %}

    <span>Сторінка {{ page_obj.number }}</span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Уперед</a>
    {% endif %}
  {% endif %}
</div>